@{
    ViewData["Title"] = "Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<TravelBlog.Models.Location>
<h2>View all the Locations</h2>
<hr/>

<table class="table">
    <tr>
        <th>
            Location @Html.DisplayNameFor(model => model.Name)   
        </th>   
		 <th>
             Options
        </th>  
    </tr>   

    @foreach(var location in Model)
    {
    <tr>
    	<td>
    		@Html.DisplayFor(x => location.Name)	
    	</td>
		<td>
            @Html.ActionLink("Details", "Details", new {id = location.LocationId}) |    
		
            @Html.ActionLink("Delete", "Delete", new {id = location.LocationId})  
         </td>
    </tr>
    }
</table>
<center>
    <h3 class="create">
        @Html.ActionLink("Create New", "Create")
    </h3>
</center>