@model TravelBlog.Models.People

@{
    ViewData["Title"] = "People - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>People Details</h2>
<hr/>
<table>
	<tr>
    	<th>
            <h3>Person @Html.DisplayNameFor(model => model.Name)</h3>
    	</th>
		<th> </th>
        <th>
            <h3>Location @Html.DisplayNameFor(model => model.Location.Name)</h3>
        </th>
		<th></th>
       
    	<th>
            <h3>Experience @Html.DisplayNameFor(model => model.Experience.Description)</h3>
        </th>
		
	</tr>
    <tr>
		<td>
	        <h5>@Html.DisplayFor(model => model.Name)</h5>
	    </td>
       
	    <td>
	        <h5>@Html.DisplayFor(model => model.Location.Name)</h5>
	    </td>

         <td>
            <h5>@Html.DisplayFor(model => model.Experience.Description)</h5>
        </td>

	</tr>
</table>

 <p>@Html.ActionLink("Edit", "Edit", new { id = Model.PeopleId }) | @Html.ActionLink("Back to People List", "Index")</p>
