@model TravelBlog.Models.People

@{
    ViewData["Title"] = "People - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit</h2>
<hr/>
<h4>Edit this Person : @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PeopleId)

    @Html.LabelFor(model=> model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.LocationId)
    @Html.DropDownList("LocationId")

    @Html.LabelFor(model => model.ExperienceId)
    @Html.DropDownList("ExperienceId")

    <input type="submit" value="Edit" class="btn btn-default" />
}
@Html.ActionLink("Back to People List", "Index")